<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/main.css">
  <title>Your Bucket List</title>
</head>

<body onload="loadBucket()">
  <div class="container-all container col">
    <header></header>
    <h2 id="get-id" class="hide"><%= id %></h2>
    <h3>Behold, your bucket list: </h3>
    <div id="fill-list" class="container col bucket">
    </div>
    <div class="container add-item">
      <input id="item-to-add" type="text" placeholder="Add New Item">
      <div onclick="addItem()" class="button add">
          <span> Add Item </span>
        </div>
    </div>
  </div>

</body>
<script src="./scripts/bucketList.js"></script>

</html>