<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  
 <h2>Pricing for the mail</h2> <br>
 <span>Mail Type: <%= type %></span> <br>
 <span>Mail Weight: <%= weight %></span> <br>
 <span>Final Price: <%= price %></span> <br>
</body>
</html>
