<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./stylesheets/main.css">
  <title>Your Bucket List</title>
</head>

<body onload="loadBucket()">
  <div class="container-all container col">
    <header></header>
    <h2 id ="get-id" class="hide"><%= id %></h2>
    <h3>Behold, your bucket list: </h3>
    <div class="container col bucket">
      <div class="container row single-item">
        <h4>1</h4>
        <p>Visit Australia</p>
        <div class="button remove">
          <span> Remove </span>
        </div>
        <div class="button edit">
          <span> Edit </span>
        </div>
      </div>
      <div class="container row single-item">
        <h4>1</h4>
        <p>Visit Australia</p>
        <div class="button remove">
          <span> Remove </span>
        </div>
        <div class="button edit">
          <span> Edit </span>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="./scripts/bucketList.js"></script>

</html>